.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
body {
  background-color: grey;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#Lose {
  position: absolute;
  top: 50%;
  font-size: 30px;
  display: none;
  z-index: 2;
  animation: youLoseAnimation 10s;
}
#Won {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 30px;
  display: none;
  animation: youLoseAnimation 10s;
}

@keyframes youLoseAnimation {
    0% {left: 0%;}
    100% {left: 100%;}
}
.cell > img {
  padding: 0;
  margin: 0;
}

.scoreboard{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.timer, .numOfMines{
  display: inline;
}

.timer{
  border: 1px solid black;
  margin: 5px;
  width: auto;
  padding: 5px;
}

.numOfMines{
  border: 1px solid black;
  margin: 5px;
  width: auto;
  padding: 5px;
}

.container2{
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  width: auto;
  border: 1px solid black;
}

.brow {
  min-height: 23px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.outer {
  width: 70%;
  margin: 0 auto;
  border: 1px solid red;
  max-width: 140px;
  max-height: 140px;
  padding: 10px;
}

.cell{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 33px;
  border: 1px solid black;
}

.col-xs-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41px;                                                                                           
  width: 3vh;
  font-size: 150%;
  background:rgba(255,255,255,0.4);
  overflow: hidden;
  line-height:4em;
  text-align:center;
  border:6px outset white;
  background:rgba(255,255,255,0.4);
  box-shadow: 5px 5px 15px rgba(255,255,255,0.4);
}


